body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    }

    /* header stuff here */
    /* header stuff here */
header {
    background-color: #eef0f2;
    padding: 1rem 10px;
}
header span {
    color: #456990;
    font-size: 1.6rem;
    font-weight: 600;
}
/* navigation stuff here */
nav {
    background-color: #456990;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #eef0f2;
    font-weight: 500;
}

nav li.active a {
    background-color: #b98389;
    color: #eef0f2;
}

nav li a:hover {
    color: #f2b705;
}

/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #f4ac45;
}

main h2 {
    color: #141414;
    font-size: 1.5rem;
    margin-bottom: .2rem;
}
main h3 {
    color: #456990;
    font-size: 1.25rem;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #141414;
}


main dl dt {
    color: #b98389;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #456990;
    font-size: .9rem;
    margin-left: 20px;
}
main em {
    font-weight: 500;
}

main address {
    font-style: normal;
    font-weight: 400; 
    color: #eef0f2;
    background-color: #b98389;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #456990;
    width: 300px;
}

main a {
    color: #eef0f2;
}

main a:hover {
    color: #f4ac45;
}
/* main image stuff here */
figure.wrapped{
    margin: 0 0 0 10px;
    width: 50%;
    float: right;
}
figure.wrapped img{
    width: 100%;
    height: auto;
}

figure.home{
    margin: 0 0 0 10px;
    width: 50%;
    float: right;
}
figure.home img{
    width: 100%;
    height: auto;
}

figure.home figcaption{
    text-align: center;
    font-size: .75rem;
}
figure.portfolio{
    margin: 0 0 0 10px;
    width: 25%;

}
figure.portfolio img{
    width: 100%;
    height: auto;
}

figure.portfolio figcaption{
    text-align: center;
    font-size: .75rem;
}
/* gallery stuff here */
div.gallery{
display: flex;
flex-wrap: wrap;
gap: 20px 10px;
}
div.gallery figure{
    margin: 0;
}
div.gallery figcaption{
    text-align: center;
    font-size: .8rem;
    color: #456990;
}
/* footer here */
footer {
    background-color: #eef0f2;
    text-align: center;
    padding: 1rem 0;
clear:both

}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #141414;
    letter-spacing: 2px;
}